td, th {
	border: 3px solid;
  }
  
.revalia-regular {
  font-family: "Revalia", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#header h1 {
  position: absolute;
  left: 620px;
  top:5px;
  font-size: 3em;
  font-family: 'Revalia', Static;
  color: #39FF14;
}

.planets {
  margin-left: auto;
  margin-right: auto;
  margin-top:150px;
  background-color:grey;
}

body {
  background-image: url("../images/space.jpg");
}

/*animations*/
@keyframes slideInLeft {
  from {
   transform: translateX(-175px);   
  }
  to{
    transform: translateX(0);
  }
}

.heading-1 {
  animation: slideInLeft 1s ease-in 1s 1 normal both;
  
  transform: translateX(-125px);
}

.thumbnail{
    width: 100px;
    height: auto;
    position:relative;
 }
 .thumbnail:hover {
     width:350px;
     height:auto;
     display:block;
     z-index:999;
     cursor: pointer;
     -webkit-transition-property: all;
     -webkit-transition-duration: 0.3s;
     -webkit-transition-timing-function: ease;
}

div.container {
  text-align: left;
  width: 710px;
  margin: 0 auto;
  border: 12px solid black;
  border-radius: 10px;
}
div.content {
  width: 700px;
  min-height: 100px;
  background-color: black;
  padding: 5px;
}
@-webkit-keyframes mini {
  from {
    left: 150px;
  }
}
.mini {
  position: absolute;
  top: 200px;
  left: 900px;
  width: 166px;
  height: 70px;
  z-index: 10000;
  -webkit-animation: mini 5s;
  animation: mini 8s;
}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

